<a href="https://colab.research.google.com/github/mishad01/Data-Science-Machine-Learning/blob/main/Thesis%20topic%20practice/2_Customer_Churn_Prediction_using_ANN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('/content/drive/MyDrive/Thesis Practice/Churn_Modelling.csv')

In [3]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [5]:
df.duplicated().sum()

0

In [6]:
df['Exited'].value_counts()

Exited
0    7963
1    2037
Name: count, dtype: int64

In [7]:
df['Geography'].value_counts()

Geography
France     5014
Germany    2509
Spain      2477
Name: count, dtype: int64

In [8]:
df['Gender'].value_counts()

Gender
Male      5457
Female    4543
Name: count, dtype: int64

In [9]:
df.drop(columns= ['RowNumber','CustomerId','Surname'],inplace = True)

In [10]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [11]:
df = pd.get_dummies(df,columns=['Geography','Gender'],drop_first=True)
#ALTERNATIVE
#geography = pd.get_dummies(X['Geography'], drop_first=True)
#gender = pd.get_dummies(X['Gender'], drop_first=True)

In [12]:
X = df.drop(columns=['Exited'])
y = df['Exited'].values

#X = dataset.iloc[:,3:13];
#y = dataset.iloc[:,13];
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)

In [13]:
X_train

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_Germany,Geography_Spain,Gender_Male
7389,667,34,5,0.00,2,1,0,163830.64,False,True,False
9275,427,42,1,75681.52,1,1,1,57098.00,True,False,True
2995,535,29,2,112367.34,1,1,0,185630.76,False,False,False
5316,654,40,5,105683.63,1,1,0,173617.09,False,True,True
356,850,57,8,126776.30,2,1,1,132298.49,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...
9225,594,32,4,120074.97,2,1,1,162961.79,True,False,False
4859,794,22,4,114440.24,1,1,1,107753.07,False,True,False
3264,738,35,5,161274.05,2,1,0,181429.87,False,False,True
9845,590,38,9,0.00,2,1,1,148750.16,False,True,False
2732,623,48,1,108076.33,1,1,0,118855.26,True,False,False

In [14]:
from sklearn.preprocessing import StandardScaler  # Importing StandardScaler for feature scaling
sc = StandardScaler()  # Creating an instance of StandardScaler
X_train_scaled = sc.fit_transform(X_train)  # Fit the scaler to the training data and scale it
X_test_scaled  = sc.transform(X_test)  # Apply the same scaling to the test data (without fitting again)

In [15]:
X_train_scaled

array([[ 0.16958176, -0.46460796,  0.00666099, ..., -0.5698444 ,
         1.74309049, -1.09168714],
       [-2.30455945,  0.30102557, -1.37744033, ...,  1.75486502,
        -0.57369368,  0.91601335],
       [-1.19119591, -0.94312892, -1.031415  , ..., -0.5698444 ,
        -0.57369368, -1.09168714],
       ...,
       [ 0.9015152 , -0.36890377,  0.00666099, ..., -0.5698444 ,
        -0.57369368,  0.91601335],
       [-0.62420521, -0.08179119,  1.39076231, ..., -0.5698444 ,
         1.74309049, -1.09168714],
       [-0.28401079,  0.87525072, -1.37744033, ...,  1.75486502,
        -0.57369368, -1.09168714]])

In [16]:

import tensorflow
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

In [17]:
#model = Sequential()  # Initialize a Sequential Neural Network

# Add the input layer with 3 neurons, sigmoid activation, and 11 input features
#model.add(Dense(3, activation='sigmoid', input_dim=11))  # Input layer with 11 features (input_dim)

# Add the output layer with 1 neuron (binary classification) and sigmoid activation
#model.add(Dense(1, activation='sigmoid'))  # Output layer with 1 neuron for binary output (0 or 1)

In [27]:
model = Sequential()
model.add(Dense(11,activation='relu',input_dim=11))
model.add(Dense(11,activation='relu'))
model.add(Dense(1,activation='sigmoid'))

In [28]:
model.summary()

Model: "sequential_1"

 Layer (type)                          Output Shape                         Param #

 dense_2 (Dense)                       (None, 11)                               132

 dense_3 (Dense)                       (None, 11)                               132

 dense_4 (Dense)                       (None, 1)                                 12

 Total params: 276 (1.08 KB)

 Trainable params: 276 (1.08 KB)

 Non-trainable params: 0 (0.00 B)

In [19]:
#model.compile(loss='binary_crossentropy',optimizer='Adam')

In [29]:
model.compile(loss='binary_crossentropy',optimizer = 'Adam',metrics=['accuracy'])

In [21]:
#model.fit(X_train_scaled,y_train,epochs=10)

Epoch 1/10
250/250  2s 2ms/step - loss: 0.8073
Epoch 2/10
250/250  0s 2ms/step - loss: 0.6213
Epoch 3/10
250/250  1s 2ms/step - loss: 0.5296
Epoch 4/10
250/250  1s 2ms/step - loss: 0.4897
Epoch 5/10
250/250  1s 2ms/step - loss: 0.4726
Epoch 6/10
250/250  1s 2ms/step - loss: 0.4663
Epoch 7/10
250/250  1s 2ms/step - loss: 0.4448
Epoch 8/10
250/250  1s 2ms/step - loss: 0.4499
Epoch 9/10
250/250  1s 2ms/step - loss: 0.4382
Epoch 10/10
250/250  0s 2ms/step - loss: 0.4447

In [30]:
# Train the model on the training data
model.fit(
    X_train_scaled,          # Input features after scaling
    y_train,                 # Target labels for training
    epochs=100,              # Number of times the model will pass through the entire training dataset
    validation_split=0.2     # Use 20% of the training data for validation
)

Epoch 1/100
200/200  3s 5ms/step - accuracy: 0.6778 - loss: 0.6170 - val_accuracy: 0.7981 - val_loss: 0.4840
Epoch 2/100
200/200  1s 3ms/step - accuracy: 0.7973 - loss: 0.4645 - val_accuracy: 0.7994 - val_loss: 0.4541
Epoch 3/100
200/200  1s 2ms/step - accuracy: 0.8123 - loss: 0.4376 - val_accuracy: 0.8031 - val_loss: 0.4429
Epoch 4/100
200/200  1s 2ms/step - accuracy: 0.8108 - loss: 0.4209 - val_accuracy: 0.8075 - val_loss: 0.4360
Epoch 5/100
200/200  1s 3ms/step - accuracy: 0.8134 - loss: 0.4218 - val_accuracy: 0.8069 - val_loss: 0.4304
Epoch 6/100
200/200  1s 2ms/step - accuracy: 0.8155 - loss: 0.4162 - val_accuracy: 0.8087 - val_loss: 0.4250
Epoch 7/100
200/200  1s 3ms/step - accuracy: 0.8244 - loss: 0.4134 - val_accuracy: 0.8131 - val_loss: 0.4184
Epoch 8/100
200/200  1s 3ms/step - accuracy: 0.8230 - loss: 0.4029 - val_accuracy: 0.8150 - val_loss: 0.4094
Epoch 9/100
200/200  2s 5ms/step - accuracy: 0.8252 - loss: 0.3976 - val_accuracy: 0.8231 - val_loss: 0.3955
Epoch 10/100
200/200  1s 3ms/step - accuracy: 0.8460 - loss: 0.3768 - val_accuracy: 0.8388 - val_loss: 0.3833
Epoch 11/100
200/200  1s 2ms/step - accuracy: 0.8420 - loss: 0.3788 - val_accuracy: 0.8406 - val_loss: 0.3753
Epoch 12/100
200/200  1s 3ms/step - accuracy: 0.8525 - loss: 0.3620 - val_accuracy: 0.8475 - val_loss: 0.3706
Epoch 13/100
200/200  1s 3ms/step - accuracy: 0.8488 - loss: 0.3643 - val_accuracy: 0.8475 - val_loss: 0.3670
Epoch 14/100
200/200  1s 3ms/step - accuracy: 0.8616 - loss: 0.3416 - val_accuracy: 0.8475 - val_loss: 0.3650
Epoch 15/100
200/200  1s 3ms/step - accuracy: 0.8615 - loss: 0.3420 - val_accuracy: 0.8487 - val_loss: 0.3641
Epoch 16/100
200/200  1s 3ms/step - accuracy: 0.8696 - loss: 0.3309 - val_accuracy: 0.8481 - val_loss: 0.3637
Epoch 17/100
200/200  1s 4ms/step - accuracy: 0.8637 - loss: 0.3415 - val_accuracy: 0.8494 - val_loss: 0.3626
Epoch 18/100
200/200  1s 4ms/step - accuracy: 0.8566 - loss: 0.3457 - val_accuracy: 0.8500 - val_loss: 0.3625
Epoch 19/100
200/200  1s 4ms/step - accuracy: 0.8579 - loss: 0.3361 - val_accuracy: 0.8494 - val_loss: 0.3619
Epoch 20/100
200/200  1s 3ms/step - accuracy: 0.8576 - loss: 0.3481 - val_accuracy: 0.8500 - val_loss: 0.3617
Epoch 21/100
200/200  1s 3ms/step - accuracy: 0.8579 - loss: 0.3429 - val_accuracy: 0.8512 - val_loss: 0.3622
Epoch 22/100
200/200  1s 3ms/step - accuracy: 0.8594 - loss: 0.3413 - val_accuracy: 0.8506 - val_loss: 0.3619
Epoch 23/100
200/200  1s 3ms/step - accuracy: 0.8687 - loss: 0.3282 - val_accuracy: 0.8500 - val_loss: 0.3615
Epoch 24/100
200/200  1s 3ms/step - accuracy: 0.8635 - loss: 0.3376 - val_accuracy: 0.8487 - val_loss: 0.3610
Epoch 25/100
200/200  1s 2ms/step - accuracy: 0.8605 - loss: 0.3375 - val_accuracy: 0.8487 - val_loss: 0.3606
Epoch 26/100
200/200  0s 2ms/step - accuracy: 0.8670 - loss: 0.3256 - val_accuracy: 0.8494 - val_loss: 0.3605
Epoch 27/100
200/200  0s 2ms/step - accuracy: 0.8703 - loss: 0.3187 - val_accuracy: 0.8487 - val_loss: 0.3605
Epoch 28/100
200/200  1s 3ms/step - accuracy: 0.8603 - loss: 0.3344 - val_accuracy: 0.8481 - val_loss: 0.3603
Epoch 29/100
200/200  1s 2ms/step - accuracy: 0.8681 - loss: 0.3207 - val_accuracy: 0.8500 - val_loss: 0.3605
Epoch 30/100
200/200  1s 2ms/step - accuracy: 0.8680 - loss: 0.3303 - val_accuracy: 0.8494 - val_loss: 0.3599
Epoch 31/100
200/200  1s 2ms/step - accuracy: 0.8627 - loss: 0.3351 - val_accuracy: 0.8487 - val_loss: 0.3595
Epoch 32/100
200/200  1s 3ms/step - accuracy: 0.8663 - loss: 0.3327 - val_accuracy: 0.8506 - val_loss: 0.3599
Epoch 33/100
200/200  1s 3ms/step - accuracy: 0.8634 - loss: 0.3375 - val_accuracy: 0.8481 - val_loss: 0.3627
Epoch 34/100
200/200  1s 2ms/step - accuracy: 0.8610 - loss: 0.3362 - val_accuracy: 0.8506 - val_loss: 0.3592
Epoch 35/100
200/200  1s 2ms/step - accuracy: 0.8628 - loss: 0.3278 - val_accuracy: 0.8494 - val_loss: 0.3600
Epoch 36/100
200/200  1s 3ms/step - accuracy: 0.8575 - loss: 0.3430 - val_accuracy: 0.8506 - val_loss: 0.3597
Epoch 37/100
200/200  1s 4ms/step - accuracy: 0.8605 - loss: 0.3399 - val_accuracy: 0.8525 - val_loss: 0.3596
Epoch 38/100
200/200  1s 4ms/step - accuracy: 0.8605 - loss: 0.3439 - val_accuracy: 0.8500 - val_loss: 0.3608
Epoch 39/100
200/200  2s 6ms/step - accuracy: 0.8609 - loss: 0.3328 - val_accuracy: 0.8525 - val_loss: 0.3592
Epoch 40/100
200/200  1s 4ms/step - accuracy: 0.8710 - loss: 0.3274 - val_accuracy: 0.8531 - val_loss: 0.3587
Epoch 41/100
200/200  1s 3ms/step - accuracy: 0.8660 - loss: 0.3302 - val_accuracy: 0.8537 - val_loss: 0.3596
Epoch 42/100
200/200  1s 4ms/step - accuracy: 0.8671 - loss: 0.3157 - val_accuracy: 0.8544 - val_loss: 0.3591
Epoch 43/100
200/200  1s 3ms/step - accuracy: 0.8641 - loss: 0.3300 - val_accuracy: 0.8494 - val_loss: 0.3600
Epoch 44/100
200/200  1s 3ms/step - accuracy: 0.8675 - loss: 0.3280 - val_accuracy: 0.8525 - val_loss: 0.3590
Epoch 45/100
200/200  1s 3ms/step - accuracy: 0.8714 - loss: 0.3211 - val_accuracy: 0.8531 - val_loss: 0.3596
Epoch 46/100
200/200  1s 3ms/step - accuracy: 0.8640 - loss: 0.3393 - val_accuracy: 0.8537 - val_loss: 0.3596
Epoch 47/100
200/200  1s 3ms/step - accuracy: 0.8637 - loss: 0.3240 - val_accuracy: 0.8550 - val_loss: 0.3591
Epoch 48/100
200/200  1s 3ms/step - accuracy: 0.8645 - loss: 0.3298 - val_accuracy: 0.8537 - val_loss: 0.3592
Epoch 49/100
200/200  1s 3ms/step - accuracy: 0.8627 - loss: 0.3233 - val_accuracy: 0.8544 - val_loss: 0.3589
Epoch 50/100
200/200  1s 3ms/step - accuracy: 0.8619 - loss: 0.3394 - val_accuracy: 0.8537 - val_loss: 0.3594
Epoch 51/100
200/200  1s 2ms/step - accuracy: 0.8669 - loss: 0.3309 - val_accuracy: 0.8525 - val_loss: 0.3601
Epoch 52/100
200/200  1s 3ms/step - accuracy: 0.8606 - loss: 0.3345 - val_accuracy: 0.8531 - val_loss: 0.3592
Epoch 53/100
200/200  0s 2ms/step - accuracy: 0.8553 - loss: 0.3420 - val_accuracy: 0.8531 - val_loss: 0.3598
Epoch 54/100
200/200  1s 2ms/step - accuracy: 0.8685 - loss: 0.3226 - val_accuracy: 0.8525 - val_loss: 0.3591
Epoch 55/100
200/200  1s 2ms/step - accuracy: 0.8531 - loss: 0.3465 - val_accuracy: 0.8519 - val_loss: 0.3595
Epoch 56/100
200/200  1s 4ms/step - accuracy: 0.8709 - loss: 0.3247 - val_accuracy: 0.8512 - val_loss: 0.3595
Epoch 57/100
200/200  1s 4ms/step - accuracy: 0.8646 - loss: 0.3318 - val_accuracy: 0.8537 - val_loss: 0.3602
Epoch 58/100
200/200  1s 4ms/step - accuracy: 0.8662 - loss: 0.3291 - val_accuracy: 0.8512 - val_loss: 0.3602
Epoch 59/100
200/200  1s 3ms/step - accuracy: 0.8707 - loss: 0.3146 - val_accuracy: 0.8512 - val_loss: 0.3604
Epoch 60/100
200/200  1s 3ms/step - accuracy: 0.8665 - loss: 0.3267 - val_accuracy: 0.8525 - val_loss: 0.3602
Epoch 61/100
200/200  1s 3ms/step - accuracy: 0.8671 - loss: 0.3245 - val_accuracy: 0.8537 - val_loss: 0.3601
Epoch 62/100
200/200  1s 2ms/step - accuracy: 0.8661 - loss: 0.3215 - val_accuracy: 0.8544 - val_loss: 0.3599
Epoch 63/100
200/200  1s 2ms/step - accuracy: 0.8631 - loss: 0.3262 - val_accuracy: 0.8531 - val_loss: 0.3601
Epoch 64/100
200/200  1s 2ms/step - accuracy: 0.8739 - loss: 0.3139 - val_accuracy: 0.8537 - val_loss: 0.3602
Epoch 65/100
200/200  1s 2ms/step - accuracy: 0.8682 - loss: 0.3242 - val_accuracy: 0.8519 - val_loss: 0.3602
Epoch 66/100
200/200  1s 3ms/step - accuracy: 0.8593 - loss: 0.3396 - val_accuracy: 0.8544 - val_loss: 0.3598
Epoch 67/100
200/200  1s 2ms/step - accuracy: 0.8638 - loss: 0.3292 - val_accuracy: 0.8537 - val_loss: 0.3609
Epoch 68/100
200/200  1s 4ms/step - accuracy: 0.8642 - loss: 0.3235 - val_accuracy: 0.8525 - val_loss: 0.3600
Epoch 69/100
200/200  1s 2ms/step - accuracy: 0.8638 - loss: 0.3219 - val_accuracy: 0.8531 - val_loss: 0.3609
Epoch 70/100
200/200  1s 3ms/step - accuracy: 0.8647 - loss: 0.3262 - val_accuracy: 0.8525 - val_loss: 0.3606
Epoch 71/100
200/200  1s 3ms/step - accuracy: 0.8674 - loss: 0.3211 - val_accuracy: 0.8519 - val_loss: 0.3601
Epoch 72/100
200/200  1s 2ms/step - accuracy: 0.8595 - loss: 0.3333 - val_accuracy: 0.8519 - val_loss: 0.3607
Epoch 73/100
200/200  1s 2ms/step - accuracy: 0.8644 - loss: 0.3228 - val_accuracy: 0.8512 - val_loss: 0.3610
Epoch 74/100
200/200  1s 3ms/step - accuracy: 0.8608 - loss: 0.3369 - val_accuracy: 0.8531 - val_loss: 0.3609
Epoch 75/100
200/200  1s 3ms/step - accuracy: 0.8677 - loss: 0.3154 - val_accuracy: 0.8531 - val_loss: 0.3606
Epoch 76/100
200/200  1s 4ms/step - accuracy: 0.8598 - loss: 0.3331 - val_accuracy: 0.8537 - val_loss: 0.3608
Epoch 77/100
200/200  1s 4ms/step - accuracy: 0.8595 - loss: 0.3283 - val_accuracy: 0.8531 - val_loss: 0.3609
Epoch 78/100
200/200  1s 3ms/step - accuracy: 0.8669 - loss: 0.3201 - val_accuracy: 0.8487 - val_loss: 0.3613
Epoch 79/100
200/200  1s 3ms/step - accuracy: 0.8542 - loss: 0.3462 - val_accuracy: 0.8519 - val_loss: 0.3621
Epoch 80/100
200/200  1s 2ms/step - accuracy: 0.8604 - loss: 0.3315 - val_accuracy: 0.8525 - val_loss: 0.3613
Epoch 81/100
200/200  0s 2ms/step - accuracy: 0.8658 - loss: 0.3258 - val_accuracy: 0.8525 - val_loss: 0.3614
Epoch 82/100
200/200  1s 3ms/step - accuracy: 0.8702 - loss: 0.3148 - val_accuracy: 0.8537 - val_loss: 0.3609
Epoch 83/100
200/200  1s 3ms/step - accuracy: 0.8595 - loss: 0.3323 - val_accuracy: 0.8544 - val_loss: 0.3607
Epoch 84/100
200/200  1s 2ms/step - accuracy: 0.8605 - loss: 0.3340 - val_accuracy: 0.8525 - val_loss: 0.3618
Epoch 85/100
200/200  1s 3ms/step - accuracy: 0.8670 - loss: 0.3246 - val_accuracy: 0.8519 - val_loss: 0.3621
Epoch 86/100
200/200  1s 2ms/step - accuracy: 0.8645 - loss: 0.3226 - val_accuracy: 0.8506 - val_loss: 0.3616
Epoch 87/100
200/200  0s 2ms/step - accuracy: 0.8623 - loss: 0.3299 - val_accuracy: 0.8512 - val_loss: 0.3612
Epoch 88/100
200/200  1s 2ms/step - accuracy: 0.8644 - loss: 0.3217 - val_accuracy: 0.8537 - val_loss: 0.3615
Epoch 89/100
200/200  1s 3ms/step - accuracy: 0.8744 - loss: 0.3111 - val_accuracy: 0.8512 - val_loss: 0.3621
Epoch 90/100
200/200  1s 2ms/step - accuracy: 0.8696 - loss: 0.3209 - val_accuracy: 0.8525 - val_loss: 0.3612
Epoch 91/100
200/200  1s 2ms/step - accuracy: 0.8669 - loss: 0.3247 - val_accuracy: 0.8550 - val_loss: 0.3627
Epoch 92/100
200/200  1s 3ms/step - accuracy: 0.8773 - loss: 0.3019 - val_accuracy: 0.8525 - val_loss: 0.3630
Epoch 93/100
200/200  1s 3ms/step - accuracy: 0.8669 - loss: 0.3120 - val_accuracy: 0.8506 - val_loss: 0.3629
Epoch 94/100
200/200  1s 3ms/step - accuracy: 0.8587 - loss: 0.3291 - val_accuracy: 0.8519 - val_loss: 0.3626
Epoch 95/100
200/200  1s 4ms/step - accuracy: 0.8686 - loss: 0.3162 - val_accuracy: 0.8531 - val_loss: 0.3629
Epoch 96/100
200/200  1s 4ms/step - accuracy: 0.8646 - loss: 0.3160 - val_accuracy: 0.8519 - val_loss: 0.3632
Epoch 97/100
200/200  1s 3ms/step - accuracy: 0.8626 - loss: 0.3285 - val_accuracy: 0.8531 - val_loss: 0.3624
Epoch 98/100
200/200  1s 3ms/step - accuracy: 0.8651 - loss: 0.3229 - val_accuracy: 0.8519 - val_loss: 0.3630
Epoch 99/100
200/200  1s 3ms/step - accuracy: 0.8557 - loss: 0.3288 - val_accuracy: 0.8506 - val_loss: 0.3638
Epoch 100/100
200/200  1s 2ms/step - accuracy: 0.8646 - loss: 0.3218 - val_accuracy: 0.8506 - val_loss: 0.3636

In [31]:
model.layers[0].get_weights()

[array([[-2.71965802e-01,  3.59975547e-01,  2.54500046e-04,
         -7.87629932e-02,  2.72325277e-01,  5.72277941e-02,
          4.74412739e-01,  1.92128882e-01,  6.37663752e-02,
         -6.63844645e-02,  2.72374272e-01],
        [-6.59877419e-01,  5.44419050e-01,  1.04185089e-01,
         -8.53560984e-01, -9.54050183e-01,  1.22597151e-01,
          3.98308262e-02,  7.88741648e-01,  3.48939374e-02,
          2.29381949e-01, -1.08368742e+00],
        [ 1.79848820e-01,  1.85659468e-01,  1.01415649e-01,
         -2.27445543e-01, -1.68920040e-01, -2.44492978e-01,
          3.82287920e-01, -4.23017964e-02, -1.74396187e-01,
         -3.54085416e-02,  8.82592872e-02],
        [-1.71779960e-01,  1.88373789e-01,  2.97355384e-01,
          3.18581372e-01, -3.02919839e-03, -6.07340455e-01,
          1.87058255e-01, -2.78374404e-01,  2.74151325e-01,
          3.20290595e-01,  6.37013257e-01],
        [ 3.40641677e-01, -1.05878882e-01,  1.30373669e+00,
          6.38473153e-01,  2.57165521e-01, -4.70458657e-01,
          3.06209922e-01,  5.43605864e-01,  1.18747056e+00,
         -5.48073590e-01,  7.53062367e-02],
        [-2.51086831e-01,  1.46555662e-01, -1.22563630e-01,
         -1.06443614e-01, -2.02462181e-01, -9.09678042e-02,
          6.22874081e-01,  2.88491070e-01,  1.27255604e-01,
         -3.70718315e-02,  3.95379543e-01],
        [ 6.24206513e-02, -8.20056736e-01,  1.65657535e-01,
          4.58313413e-02, -4.74523991e-01, -5.03017604e-01,
          5.51172316e-01,  3.25170308e-01, -2.82954305e-01,
         -2.18358710e-01, -2.52611279e-01],
        [-3.16967487e-01,  6.79984748e-01, -4.32757474e-02,
         -4.79590110e-02,  2.27004103e-02, -1.17696255e-01,
          3.42945516e-01,  8.04894716e-02, -1.45086413e-02,
          1.53022289e-01,  4.20593202e-01],
        [-4.26847756e-01,  5.95094800e-01, -2.85885125e-01,
         -3.70386928e-01, -2.10844129e-01,  8.82257298e-02,
         -1.67299449e-01, -3.22590880e-02, -2.70886272e-01,
          2.35028550e-01,  2.09080309e-01],
        [ 4.26485240e-01, -1.73130676e-01,  3.23944777e-01,
         -2.33332083e-01, -1.90477446e-01,  2.85002023e-01,
          9.81818810e-02,  4.35207158e-01,  1.98454738e-01,
         -6.54194057e-02, -8.17465261e-02],
        [ 5.70522070e-01, -1.85468137e-01,  2.59654820e-01,
         -1.94125354e-01,  4.34681743e-01,  7.13536024e-01,
         -3.56095642e-01,  6.24391437e-01,  4.05813515e-01,
         -8.48269284e-01, -4.47973847e-01]], dtype=float32),
 array([ 0.84803414, -0.06997907, -0.64788824,  0.695047  ,  0.67503685,
         0.17585927, -0.06747503,  0.15842234, -0.51501083,  0.01451379,
         0.28819773], dtype=float32)]

In [32]:
model.predict(X_test_scaled)

63/63  0s 2ms/step

array([[0.34361535],
       [0.18035308],
       [0.23364502],
       ...,
       [0.29332587],
       [0.1625808 ],
       [0.27587798]], dtype=float32)

In [33]:
y_log = model.predict(X_test_scaled)

63/63  0s 1ms/step

In [35]:
y_pred = np.where(y_log>0.5,1,0)

In [36]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.86